// SPDX-License-Identifier: GPL-2.0
/* Copyright (c) 2019, The Linux Foundation. All rights reserved. */

/dts-v1/;

#include "laptop-common.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. MSM8998 v1 Asus TP370QL";
	compatible = "qcom,msm8998-asus-tp370ql";

	qcom,board-id = <8 0>;
};

&tlmm {
	touchpad: touchpad {
		config {
			pins = "gpio123";
			bias-pull-up;           /* pull up */
		};
	};
};

&sdhc2 {
	cd-gpios = <&tlmm 95 GPIO_ACTIVE_HIGH>;
};

&blsp1_i2c6 {
	status = "okay";

	keyboard@3a {
		compatible = "hid-over-i2c";
		interrupt-parent = <&tlmm>;
		interrupts = <0x25 IRQ_TYPE_LEVEL_LOW>;
		reg = <0x3a>;
		hid-descr-addr = <0x0001>;
	};

	touchpad@15 {
		compatible = "hid-over-i2c";
		interrupt-parent = <&tlmm>;
		interrupts = <0x7b IRQ_TYPE_LEVEL_LOW>;
		reg = <0x15>;
		hid-descr-addr = <0x0001>;

		pinctrl-names = "default";
		pinctrl-0 = <&touchpad>;
	};
};
